{%extends 'registration/base.html'%}
{%block title%}
Sign UP
    {%endblock%}
{%block content%}
<section id="contact">
<center>
    <div class="container">
        <div class="row" style="align-items: center;">
            <div class="col-md-12">
                <h1 style="font-family:initial;   color:midnightblue  "   class="text-center display-4">Welcome</h1>
            </div>
            <div class="col-md-12">
                <h3 style="font-family:initial;   color:midnightblue  "   class="text-center display-4">Reset Password</h3>
            </div>
            <div class="col-md-3">
            </div>
            <div style="background-color:lightsteelblue; width:400px; height:800px;"  class="col-md-6" ><br><br>





<form method="POST" action="passwordreset">
	{% csrf_token %}
	<P>UserName:  &nbsp;<input type="text" name="uname"></P><br>
	<p> &nbsp; &nbsp; &nbsp;Email: &nbsp; &nbsp; &nbsp; &nbsp;<input type="text" name="email"></p><br>
	<P><label>New Password: </label> &nbsp;<input type="password" name="password"></P><br><br>
	<input style="width: 100px;"  type="submit" class="btn btn-success" value="Send"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	{{errmsg}}
	<a href="{% url 'login'%}" <input style="width: 100px;" type="submit" class="btn btn-warning" value="login">Login</a>
</form>
</div>
</center>

    
</section>
{%endblock%}